Beaker==1.6.4
Mako==0.9.1
MarkupSafe==0.18
backports.ssl-match-hostname==3.4.0.2
bottle==0.12.3
bottle-cork==0.10
eventlet==0.14.0
greenlet==0.4.2
gunicorn==18.0
happybase==0.7
link==0.2.0
numpy==1.8.0
pandas==0.13.1
pycrypto==2.6.1
python-dateutil==2.2
pytz==2013.9
requests==2.2.1
six==1.5.2
thrift==0.9.1
tornado==3.2
wsgiref==0.1.2
hg+https://bitbucket.org/ibkon/bottle-compressor
